{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <h2>{{ .Params.Subtitle }}</h2>
  <p>by {{.Site.Params.Author}} &mdash; {{.Date.Format "Jan 1"}}</p>
  <hr/>
  {{- with .Content -}}
  {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> #&#xFE0E;</a> ${3}` | safeHTML }}
  {{- end -}}
  <!-- {{ .Content }} -->
  {{ template "_internal/disqus.html" . }}
{{ end }}